<section class="py-5 text-center container">
	<h1 class = "announcement"> Besties </h1>
		<div class="row">
			<div class="col-md-4 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-header">JOHNNY</div>
					<%= image_tag 'johnn.JPG', :type => 'image/png'%>
					<div class="card-body">
				  		<p class="card-text"> I have known Johnny for 2 years and he is always down to work in the library or there with a smile or a meal on a rough day!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-header">CATHERINE</div>
					<%= image_tag 'catherine.JPG', :type => 'image/png'%>
					<div class="card-body">
						<p class="card-text">I have known Catherine since the 5th grade and she has been my longest frienship. We may not see each other all the time but its like no time has passed when we do :)</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-header">LEO</div>
					<%= image_tag 'Leo.JPG', :type => 'image/png'%>
					<div class="card-body">
						<p class="card-text">Leo is one of my small group housing mates and has been there for my worst and my best and gives the best hugs.</p>
					</div>
				</div>
			</div>
		</div>
		
		</div>
		
		<div class="d-grid gap-2 col-6 mx-auto">
			<div class="btn-group" role="group" aria-label="Basic example">
				<a href="<%= profile_Family_path %>" class="btn btn-success" id = "button">Previous Page</a>
				<a href="<%= profile_compscifriends_path %>" class="btn btn-info" id = "button"> Next Page</a>
			</div>
		</div>

		<div class="alert alert-info" role="alert">
			Thank you to all of these people specifically for being the best!
		</div>
		</div>
</section>