<section class="py-5 text-center container">
		<h1 class = "announcement">Family</h1>
		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
			  <h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				  Cousins
				</button>
			  </h2>
			  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<div class = "row">
						<div class = "col-md-6 mb-3 mb-sm-0 text-center">
							<h3 class="text-center"> Dads Side Cousins</h3>
							<div><%= image_tag 'Pyramid2015.jpg', type: 'image/png', class: "imagefam" %></div>
							<table class="table table-info table-striped-columns table-sm">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">First</th>
										<th scope="col">Month</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Matt</td>
										<td>January</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Ben</td>
										<td>March</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Sam</td>
										<td>August</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td>Lilly</td>
										<td>June</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td>Mary</td>
										<td>April</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td>Daniel</td>
										<td>November</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td>Meghan</td>
										<td>October</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td>Libby</td>
										<td>February</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td>Tommy</td>
										<td>February</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td>Ryan</td>
										<td>January</td>
									</tr>
									<tr>
										<th scope="row">11</th>
										<td>Josh</td>
										<td>October</td>
									</tr>
									<tr>
										<th scope="row">12</th>
										<td>George</td>
										<td>December</td>
									</tr>
									<tr>
										<th scope="row">13</th>
										<td>Will</td>
										<td>December</td>
									</tr>
									<tr>
										<th scope="row">14</th>
										<td>Timmy</td>
										<td>February</td>
									</tr>
									<tr>
										<th scope="row">15</th>
										<td>Molly</td>
										<td>May</td>
									</tr>
								</tbody>
							</table>
						</div>
					
					<div class = "col-md-6 mb-3 mb-sm-0 text-center">
						<h3 class="text-center"> Moms Side Cousins</h3>
						<table class="table table-info table-striped-columns table-sm">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">First</th>
									<th scope="col">Month</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Matt</td>
									<td>January</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Mary</td>
									<td>April</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Libby</td>
									<td>February</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Tommy</td>
									<td>February</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Joey</td>
									<td>September</td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td>Owen</td>
									<td>March</td>
								</tr>
								<tr>
									<th scope="row">7</th>
									<td>Paige</td>
									<td>August</td>
								</tr>
							</tbody>
						</table>
						<div class="col-md"><%= image_tag 'cuz.JPG', type: 'image/png', class: "imagefam img-fluid rounded" %></div>
						</div>
						</div>
				</div>
			  </div>
			</div>
			<div class="accordion-item">
			  <h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
				  Siblings
				</button>
			  </h2>
			  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<div class="row">
						<div class="col-md-4 mb-3 mb-sm-0">
							<div class="card">
								<div class="card-header">Matt</div>
									<%= image_tag 'matt.JPG', type: 'image/png', class: "card-img-top" %>
									<div class="card-body">
										<p class="card-text"> Matt is my older Brother, he is 6 years older so he has a lot of wisdom that he can impart</p>
									</div>
								</div>
							</div>
						<div class="col-md-4 mb-3 mb-sm-0">
							<div class="card">
								<div class="card-header">Mary</div>
									<%= image_tag 'mary.JPG', type: 'image/png', class: "card-img-top" %>
									<div class="card-body">
										<p class="card-text">Mary is my older and only sister and she is my best friend in the entire world</p>
									</div>
								</div>
							</div>
						<div class="col-md-4 mb-3 mb-sm-0">
							<div class="card">
								<div class="card-header">Tommy</div>
									<%= image_tag 'tommy.JPG', type: 'image/png', class: "card-img-top" %>
									<div class="card-body">
										<p class="card-text">Tommy is my twin brother so we have been through literally everything together and he is my rock</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 mb-3 mb-sm-0 center">
		  <div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
			  <div class="carousel-item active">
			  	<%= image_tag 'Fam1.jpg', type: 'image/png', class: "d-block w-100 image" %>
			  </div>
			  <div class="carousel-item">
			  <%= image_tag 'Fam2.jpg', type: 'image/png', class: "d-block w-100 image" %>
			  </div>
			  <div class="carousel-item">
			  	<%= image_tag 'Fam3.JPG', type: 'image/png', class: "d-block w-100 image" %>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
		</div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<div class="btn-group" role="group" aria-label="Basic example">
				<a href="<%= profile_index_path %>" class="btn btn-success" id = "button">Previous Page</a>
				<a href="<%= profile_bestfriends_path %>" class="btn btn-info" id = "button"> Next Page</a>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</div>
</section>